*{
    margin: 0%;
}
/*light blue for even, very dark blue for odd*/
.counter-even{
    background-color: #e6f2ff;
}
.counter-odd{
    background-color: #b3d4ff;
}
.contenedor{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
/*align buttons to the right*/
button{
    position: right;
}