.back-to-top {
  position: fixed;
  display: inline;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  right: 15px;
  bottom: 15px;
  background: #2e4b79;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 1;
}

.back-to-top svg {
  position: absolute;
  top: 3.2px;
  left: 3.2px;
}

.back-to-top:hover {
  color: #fff;
  background: #507abe;
  transition: background 0.2s ease-in-out;
}
